ul {
  padding: 0;
}
.box {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.header {
  width: 100%;
  height: 1.173333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
}
.header p {
  color: #222222;
  font-size: 0.48rem;
  font-weight: bold;
}
.order {
  width: 100%;
  height: 1.333333rem;
  border-bottom: 3px solid #ccc;
}
.order ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  height: 1.333333rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.order ul li:last-child {
  background: green;
}
.gath {
  width: 100%;
  height: 1.333333rem;
  color: #222222;
  font-size: 0.373333rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.message {
  width: 100%;
  height: 2.933333rem;
  border-bottom: 5px solid #ccc;
}
.message ul {
  padding: 0;
  list-style: none;
  width: 100%;
}
.message ul li {
  line-height: 0.466667rem;
}
.message .exp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.message .exp p:first-child {
  width: 6.053333rem;
}
.message .exp p:last-child {
  width: 2.506667rem;
  height: 0.746667rem;
  background: #0089D4;
  text-align: center;
  line-height: 0.746667rem;
  color: white;
}
.shoping {
  width: 100%;
}
.shoping .p {
  width: 100%;
  height: 1.333333rem;
  line-height: 1.33333rem;
  border-bottom: 1px solid #ccc;
}
.shoping .iphone dl {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.shoping .iphone dl dt img {
  width: 2.066667rem;
  height: 2.493333rem;
}
.shoping .syn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-bottom: 5px solid #ccc;
}
.orderr {
  width: 100%;
  border-bottom: 4px solid #CCC;
}
.orderr p {
  width: 100%;
  height: 1.333333rem;
  line-height: 1.33333rem;
  border-bottom: 1px solid #ccc;
}
.orderr .time {
  padding: 0;
  width: 100%;
}
.orderr .time ul {
  width: 100%;
  padding: 0;
}
.orderr .time ul li {
  list-style: none;
  line-height: 0.4rem;
  color: #222222;
}
.log {
  width: 100%;
}
.log p {
  width: 100%;
  height: 1.333333rem;
  line-height: 1.33333rem;
  border-bottom: 1px solid #ccc;
}
.log ul {
  list-style: none;
}
.log ul li {
  line-height: 0.373333rem;
  color: #222;
}
